@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
    background-color: #eef5ff;
  }

  h1 {
    @apply text-marine leading-normal text-3xl md:text-[2rem]  font-bold mb-2;
  }

  p {
    @apply text-gray-400;
  }

  p.error {
    @apply text-rose-700;
  }

  label {
    @apply text-marine;
  }
}

@layer components {
  .formSection {
    @apply flex flex-col gap-6 md:gap-8 justify-items-center;
  }
  .checkboxDiv.checked {
    @apply border-indigo-800 bg-gray-100;
  }
  .sidebarButton.active {
    @apply bg-lightBlue text-marine;
  }
}

@screen md {
  html {
    font-size: 16px;
  }
}
